body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    color: black;
    background-color: white;
    /*background-image: url("../nerds-index.jpg"); /*загружаю изо*/
}

header{
  background-color: #eeeeee;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: normal;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    color: black;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.discount h4 {
    font-size: 36px;
    line-height: 36px;
    color: black;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.contacts p {
    color: #666666;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation li {
    text-transform: uppercase;
}

/*Меню навигации*/
.main-navigation a {
    color: black;
    text-decoration: none;
}

.main-navigation a:hover {
    color:red;
}

.main-navigation a:active {
    color: grey;
}

/**************СВОЙСТВА ДЛЯ СЕТКИ***************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-navigation {
    float: right;
    width: 850px;
    min-height: 70px;
    background-color: crimson;
}

.main-navigation li {
    float: left;
    padding: 10px;
    margin-right: 25px;
}
.main-navigation li:last-child {
    float: right;
}

.main-header {
    padding-top: 50px;
}
.header-logo {
    float: left;
    width: 200px;
    min-height: 65px;
    background-color: coral;
}

.slider{
    clear: both;
    min-height: 300px;
    background-color: aqua;
}

.more-info {
    min-height: 250px;
    width: 400px;
}

.services {
    padding-top: 80px;
    border-bottom: 3px orange solid;
    min-height: 425px;
}

.services-item {
    float: left;
    width: 300px;
    min-height: 145px;
    margin-right: 100px;
    background-color: darkmagenta;
}

.services-item:last-child {
    margin-right: 0; /*на случай если придётся подгонять прям до края*/
}

.about-company {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 3px orange solid;
    min-height: 440px;
}

.about-company-left {
    float: left;
    width: 660px;
    min-height: 430px;
    margin-right: 100px;
    background-color: darkorchid;
}

.about-company-right {
    float: right;
    width: 400px;
    min-height: 430px;
    background-color: darkorchid;
}

.about-company-right img {
    display: inline-block;
    margin-left: 40px;
}

.customers {
    min-height: 190px;
    border-bottom: 3px orange solid;
}
.customers a {
    float: left;
    margin-right: 38px;
    border-right: 1px orange solid;
}

.customers a:last-child {
    float: right;
    margin-right: 0;
    border-right: none;
}

.map {
    min-height: 335px;
    margin-top: 75px;
    margin-bottom: 40px;
    padding-bottom: 80px;
}

.map img {
    margin-right: 0;
}
.contacts {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 25px;
    margin-left: 50px;
    background-color: aliceblue;
}

.main-footer {
    min-height: 80px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 90px;
}

.discount {
    float: left;
    width: 750px;
    min-height: 90px;
}

/*****************************СТРАНИЦА МАГАЗИНА********************/

.logo-title {
    text-align: center;
    clear: both;
    min-height: 235px;
    background-color: aqua;
}

.select {
    float: left;
    width: 260px;
    min-height: 800px;
    margin-right: 140px;
}
.select h4 {
    padding-bottom: 30px;
}

.select-item {
    min-height: 150px;
}
.gallery {
    float: left;
    width: 760px;
}

.gallery-sort {
    padding-bottom: 30px;
}

.gallery-item {
    float: left;
    padding-bottom: 30px;
}

.item-galleri-header {
    min-height: 40px;
}

.gallery-item:nth-child(2n) {
    float:right;
    margin-right: 0;
}

.buy-block {
    display: none;
}

.pages {
    padding-top: 30px;
    clear: both;
}

.pages a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.pages a:last-child {
    width: 250px;
}
.gallery-sort h4 {
    display: inline-block;
}
/*ДЛЯ СЕТКИ*/

/*Кнопки*/
.btn {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: darkred;
}

.btn:active {
    color: rgba(250, 255, 255, 0.3);
}

.footer-social a {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
}

.footer-social img {
    margin-top: 30px;
    margin-left: 30px;
}

div, article, header, footer, section, a, p {
    outline: 1px solid indigo;
    background-color: rgba(0, 0, 50, 0.1);
}

.container {
    outline: 1px solid red;
    background-color: rgba(0, 50, 0, 0.2);
}