body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    color: black;
    background-color: white;
}

b {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: normal;
    text-decoration: none;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    color: black;
    font-weight: normal;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    margin: 0;
    font-weight: bold;
    padding: 16px 0;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 30px;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.discount h4 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: black;
}

.contacts p {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    margin: 23px 0;
    padding: 0;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation li {
    text-transform: uppercase;
}

/*Меню навигации*/
.main-navigation a {
    color: black;
    text-decoration: none;
}

.main-navigation a:active {
    color: grey;
}
/*Меню навигации сортировки*/
.gallery-sort a {
    color: black;
    text-decoration: none;
}

.gallery-sort a:hover {
    color:red;
}

.gallery-sort a:active {
    color: grey;
}
/**************СВОЙСТВА ДЛЯ СЕТКИ***************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header{
    background-color: #eeeeee;
}

/*Меню навигации /\ */
.header-top-right {
    float:right;
    width: 838px;
    margin-top: 10px;
}

.header-top-right a {
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

.header-top-right a:hover {
    color: #fb565a;
}

.header-top-right a:active {
    color: black;
    opacity: 0.4;
}

ul.main-navigation {
    padding-left: 0px;
}

nav {
    display: inline-block;
    width: 640px;
    vertical-align: middle;
    height: 64px;
}

.main-navigation li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 5px;
    margin-right: 42px;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.user-block {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: 16px 0px;
    padding-left: 40px;
}


.user-block a {
    position: relative;
    color: black;
    max-width: 100px;
}
/*Корзина*/
.basket::before {
    position: absolute;
    top: 8px;
    left: -40px;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/cart-icon.png");
    opacity: 0.3;
}
/*Меню навигации*/

.main-header {
    padding-top: 49px;
    
}
.header-logo {
    float: left;
    width: 200px;
    margin: 0;
    padding: 0;
  /*  background-color: coral;*/
}

.header-logo:hover {
    opacity: 0.8;
}

.header-logo:active {
    opacity: 0.5;
}

.header-top {
    margin: 0;
    padding: 0;
}

.slider{
    clear: both;
    min-height: 424px;
}

.slider p {
    margin: 27px 0 39px 0;
}


.services {
    padding-top: 78px;
    border-bottom: 3px solid #eeeeee;
    min-height: 425px;
}

.services-item {
    float: left;
    width: 300px;
    margin-right: 100px;
   /* background-color: darkmagenta;*/
}

.services-item p {
    width: 250px;
    margin: 0;
    padding-bottom: 35px;
}

.services-item:last-child {
    margin-right: 0; /*на случай если придётся подгонять прям до края*/
}

.about-company {
    padding-top: 41px;
    padding-bottom: 45px;
    border-bottom: 3px solid #eeeeee;
    min-height: 440px;
}

.about-company-left {
    float: left;
    width: 660px;
    min-height: 430px;
    margin-right: 100px;
   /* background-color: darkorchid;*/
}

.about-company-left h2 {
    margin-top: 35px;
    margin-bottom: 33px; 
}
.about-company-left h4,
.about-company-right h4{
    font-size: 16px;
    line-height: 24px;
    margin-top: 37px;
}

.about-company-left li {
    list-style: none;  
    margin-top: 25px;
    margin-left: -3px;
    margin-bottom: -1px;
    padding-left: 0;
}

.info-list {
    position: relative;
}
.info-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    border-bottom: 2px solid #fb565a;
    left: 1px;
    margin-top: 11px;
}

.about-company-right {
    float: right;
    width: 400px;
    min-height: 430px;
}

.table-logo {
    display: inline-block;
    margin-left: 40px;
}

.about-company-right h4{
    text-align: left;
    margin-top: 29px;
    margin-left: 57px;
}
.table-content {
    margin: 55px 0 0 37px;
    text-align: left;
}
.table-content th {
    font-size: 45px;
    line-height: 10px;
    padding-right: 20px;
}

.table-content sup {
    font-size: 25px;
    line-height: 10px;
}

.table-content td {
    font-size: 16px;
    line-height: 18px;
    padding-left: 2px;
    padding-top: 34px;
    padding-right: 15px;
}

.customers {
    border-bottom: 2px solid #eeeeee;
    font-size: 0px;
    line-height: 0;
    margin-bottom: 20px;
}

.customers a  {
    display: inline-block;
    margin-right: 40px;
    opacity: 0.2;
    position: relative;
}

.customers a:hover  {
    display: inline-block;
    opacity: 1;
}

.customers a::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    top: 65px;
    right: -20px;
    background: #dddddd;
}

.customers a:active  {
    display: inline-block;
    opacity: 0.1;
}

.customers a:nth-child(4) {
    margin-right: 0px;
}

.customers a:nth-child(4)::after {
    content: "";
    background: white;
}

.map {
    position: relative;
    height: 335px;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-bottom: 80px;
    background-image: url("../img/map-location.png");
}

.map img {
    margin-right: 0;
}

.contacts {
    position: absolute;
    width: 220px;
    padding: 50px;
    min-height: 200px;
    top: 53px;
    background-color: #ffffff;
    z-index: 20;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.contacts .tel {
    text-decoration: none;
    color: #666666;
}

.contacts .btn {
    margin-top: 38px;
    width: 187px;
    font-family: "Roboto", "Arial", sans-serif;
}

.main-footer {
    margin-top: 40px;
    min-height: 160px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 175px;
}

.discount {
    float: left;
    margin-top: 35px;
}

.discount h4 {
    text-transform: none;
}
.discount p {
   margin-top: 10px;
}

/*****************************СТРАНИЦА МАГАЗИНА********************/

.main-navigation .active {
    border-bottom: 2px solid #fb565a;
}

.logo-title {
    padding-top: 32px;
    text-align: center;
    clear: both;
    height: 198px;
    margin-bottom: 21px;
}

.select {
    float: left;
    width: 260px;
    min-height: 800px;
    margin-right: 140px;
}

.cost-block {
    min-height: 50px;
    width: 200px;
    background-color: gray;
}
.select-item:nth-child(1) {
    text-transform: uppercase;
}

.cost-line {
    height: 41px;
    padding-top: 39px;
    width: 250px;
    margin-bottom: 13px;
    border-radius: 3px;
    background: #f1f1f1;
}

.select-item input[type="text"] {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 5px;
    padding: 10px 10px;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #f1f1f1;
}

.select-item label {
    position: relative;
}

.select-item:nth-child(2) {
    margin-top: 55px;
}

.select-item:nth-child(2) label {
    margin-top: 13px;
    margin-bottom: 16px;
    padding-left: 36px; 
}

.select-item:nth-child(3) {
    margin-top: 41px;
    margin-bottom: 28px;
}

.select-item:nth-child(3) label {
    margin-top: 14px;
    margin-bottom: 16px;
    padding-left: 36px;
    white-space: nowrap;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

/********КНОПКИ ЛЕЙБЛОВ***********/
input[type="radio"]+label::before { 
    content: ""; 
    display: block; 
    position: absolute; 
    top: -1px; 
    left: 0px; 
    background-image: url("../img/radio-check-sprite.png"); 
    background-repeat: no-repeat; 
    background-position: -100px -13px; /*-10px -13px;*/
    width: 25px; 
    height: 25px; 
    opacity: 0.5; 
    cursor: pointer; 
} 

input[type="radio"]:checked+label::before { 
    background-position: -145px -13px; /*-54px -13px;*/
    opacity: 0.5; 
    cursor: pointer; 
} 

input[type="radio"]+label:hover::before { 
    opacity: 1; 
}



input[type="checkbox"]+label::before {
    content: ""; 
    display: block; 
    position: absolute; 
    top: -1px; 
    left: 0px; 
    background-image: url("../img/radio-check-sprite.png"); 
    background-repeat: no-repeat; 
    background-position: -11px -13px;
    width: 25px; 
    height: 25px; 
    opacity: 0.5; 
    cursor: pointer; 
}


input[type="checkbox"]:checked+label::before {
    background-position: -54px -13px;
    opacity: 0.5; 
    cursor: pointer; 
}

input[type="checkbox"]+label:hover::before { 
    opacity: 1; 
}

/********КНОПКИ ЛЕЙБЛОВ***********/

.select input[type="submit"] {
    display: inline-block;
    width: 260px;
    height: 50px;
    vertical-align: top;
    margin-top: 20px;
    background-color: #eeeeee;
    color: black;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.select input[type="submit"]:hover {
    background-color: #e5e5e5;
}

.select input[type="submit"]:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px #b5b5b5;
}

.select-item label {
    display: block;
    margin: 0;
    width: 120px;
}

.max-cost {
    float: right;
}

.min-cost {
    float: left;
}

.select-item {
    min-height: 150px;
}

.range-filter h4,
.gallery-sort h4 {
    padding: 34px 0 51px 0;
}

.gallery-sort h4 {
    float: left
}

.gallery-sort-item {
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    margin-left: 25px;
    padding-top: 39px;
    width: 361px;
}

.gallery-sort-item a {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 23px;
    opacity: 0.5;
}
.gallery-sort-item a:hover {
    color: black;
    opacity: 0.7;
}
.gallery-sort-item a:active {
    color: black;
    opacity: 1;
}

.sort-direct {
    float: right;
}

.sort-direct a {
    margin-left: 10px;
    margin-right: 0px;
}

.gallery {
    float: left;
    width: 760px;
}

.gallery-wrap {
    font-size: 0;
}

.gallery-item {
    display: inline-block;
    margin-bottom: 36px;
    margin-right: 40px;
    vertical-align: top;
    height: 616px;
}

.gallery-item:nth-child(2n) {
    margin-right: 0;
}

.item-gallery-header {
    padding-left: 15px;
    height: 40px;
    background-color: #e9e9e9;
    border-radius: 3px 3px 0 0;
}

.gallery-item:hover .item-gallery-header {
    background-color: #4d4d4d;;
}

.item-gallery-header .dot {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 13px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: white;
}

.buy-block {
    display: none;
    position: relative;
    bottom: 242px;
    width: 360px;
    height: 230px;
    background-color: #eeeeee;
}

.gallery-item:hover .buy-block {
    display: block;
}

.buy-block .logotype  {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-top: 27px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.buy-block .text-block {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 13px;
    color: #666666;
}

.buy-block .btn {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
}

.pages {
    display: inline-block;
    padding-top: 28px;
    clear: both;
    margin: 0;
}

.pages a {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 10px;
    background-color: #eeeeee;
    color: black;
}

.pages a:hover {
    background-color: #e5e5e5;
}

.pages a:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px #b5b5b5;
}

.pages span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 11px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
    border: 3px solid #f1f1f1;
}

.pages a:last-child {
    width: 230px;
}

.gallery-sort h4 {
    display: inline-block;
}


/***********ВСПЛЫВАЮЩЕЕ ОКНО**************/

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.feedback {
    position: fixed;
    left: 50%;
    top: 25px;
    width: 760px;
    height: 460px;
    margin-left: -460px;
    padding: 65px 100px;
    background: white;
    z-index: 50;
    box-shadow: 0 19px 48px 3px #595a5a;
    display: none;
}

.feedback-show {
    display: block;
    animation: bounce 0.6s;
}


/*********ОШИБКА ВВОДА ДАННЫХ*************/
.feedback-error {
    animation: shake 0.6s;
}

.info-error input[type="text"], 
    textarea {
    border: 2px solid #e74246; 
}

.feedback b {
    color: black;
    font-size: 45px;
    line-height: 45px;
}

.feedback-title {
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin-top: 22px;
    margin-bottom: 10px;
}

.input-user-date {
    display: block;
    margin-top: 20px;
}

.input-user-date input[type="text"],
textarea {
    color: gray;
}

.input-user-date input[type="text"],
    input[type="email"] {
    outline: none;
}
.input-username {
    display: block;
    float: left;
}

.input-email {
    display: block;
    float: right;
}

.input-text {
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.feedback-text {
    resize: none;
    width: 730px;
    height: 92px;
    padding: 10px 15px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    outline: none;
}

.feedback-text:hover {
    border: 2px solid #b4b9bb;
}

.feedback-text:focus {
    border: 2px solid black;
}

.feedback-username {
    resize: none;
    width: 343px;
    height: 43px;
    padding-left: 15px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
}

.feedback-username:hover {
    border: 2px solid #b4b9bb;
}

.feedback-username:focus {
    border: 2px solid black;
}

.feedback-email {
    resize: none;
    width: 340px;
    height: 43px;
    padding-left: 15px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
}

.feedback-email:hover {
    border: 2px solid #b4b9bb;
}

.feedback-email:focus {
    border: 2px solid black;
}

.feedback .btn {
    width: 260px;
    padding: 15px;
    border: none;
    font-family: "Roboto", "Arial", sans-serif;
    cursor: pointer;
    
}

.feedback-btn:hover {
    background: #d6494d;
}

.feedback-btn:active {
    background: #b63538;
}

.btn-close {
    position: absolute;
    color: #fb565a;
    right: 80px;
    top: 58px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 50px;
    background-color: #ffffff;
    cursor: pointer;
    opacity: 0.6
    }

.btn-close:hover {
    opacity: 1;
}

.btn-close:active {
    opacity: 0.3;
}

/*ДЛЯ СЕТКИ*/

/*Кнопки*/
.btn {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    background-color: #fb565a;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 131px;
}

.btn-gr{
    background-color: #00ca74;
}

.btn-yl{
    background-color: #efc84a;
}

.slide-text .btn {
    width: 210px;
}

.btn:hover {
    background-color: #d6494d;
}

.btn-gr:hover {
    background-color: #00bc6c;
}

.btn-yl:hover {
    background-color: #eab534;
}

.btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
}

.btn-gr:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px #009958;
}

.btn-yl:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px #ce961f;
}

.footer-social a {
    display: inline-block;
    vertical-align: middle;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-top: 29px;
    margin-right: 10px;
    background-color: #e1e1e1;
    font-size: 0;
}

.footer-social a:hover {
    background-color: #d6494d;
}

.footer-social a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
}

.social-vk {
    background: url("../img/vk-icon.png") no-repeat center;
}
.social-facebook {
    background: url("../img/fb-icon.png") no-repeat center;
}
.social-instagram {
    background: url("../img/insta-icon.png") no-repeat center;
}

/*******************СЛОЖНЫЙ ФИЛЬТР****************************/
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 15px;
}

.range-controls .toggle-max {
    left: 170px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

/*******************СЛОЖНЫЙ ФИЛЬТР****************************/

/********************************СЛАЙДЕР**********************/
.slider{
    position:relative;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:105px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:10;
}
.slider-controls label{
    display:inline-block;
    width:12px;
    height:12px;
    margin:0 7px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:520px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 55px;
    line-height: 55px;
    margin-top: 40px;
    color: black;
}

.slide:nth-child(1){
    background-image:url("../img/nerds-index-slide1.png");
    background-repeat:no-repeat;
    background-position:99% -9px;
}
.slide:nth-child(2){
    background-image:url("../img/nerds-index-slide2.png");
    background-repeat:no-repeat;
    background-position:99% -9px;
}
.slide:nth-child(3){
    background-image:url("../img/nerds-index-slide3.png");
    background-repeat:no-repeat;
    background-position:99% -9px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
/**********************************СЛАЙДЕР**************************/

/*
div, article, nav, header, footer, section, a, p {
    outline: 1px solid indigo;
    background-color: rgba(0, 0, 50, 0.1);
}*/
/*
.container {
    outline: 1px solid red;
    background-color: rgba(0, 50, 0, 0.2);
}
*/