body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    color: black;
    background-color: white;
    background-image: url("../nerds-index.jpg"); /*загружаю изо*/
}

header{
  background-color: #eeeeee;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: normal;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    color: black;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.discount h4 {
    font-size: 36px;
    line-height: 36px;
    color: black;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.contacts p {
    color: #666666;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation li {
    text-transform: uppercase;
}

/*Меню навигации*/
.main-navigation a {
    color: black;
    text-decoration: none;
}

.main-navigation a:hover {
    color:red;
}

.main-navigation a:active {
    color: grey;
}

/*СВОЙСТВА ДЛЯ СЕТКИ*/

html,
body {
  min-width: 1200px;
  min-height: 2400px;
  margin: 0;
  padding: 0;
}

body {
  background: white url("fire.jpg") no-repeat;
  background-size: 1200px auto;
}

.clearfix::after {
   content: "";

  display: table;
  clear: both;
}
.container {
    width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation {
    float: right;
    width: 700px;
    min-height: 65px;
    background-color: crimson;
}

.main-navigation li {
    float: left;
    margin-right: 10px;
}
.main-navigation li:last-child {
    float: right;
}

.main-header {
    padding: 30px 80px;
}
.header-logo {
    float: left;
    width: 200px;
    min-height: 65px;
    background-color: coral;
}

.slider{
    clear: both;
    min-height: 300px;
    background-color: aqua;
}

.more-info {
    padding: 20px 80px;
    min-height: 250px;
    width: 400px;
}

.services {
    padding: 50px 80px;
    border-bottom: 3px orange solid;
    min-height: 300px;

}

.services-item {
    float: left;
    width: 300px;
    min-height: 125px;
    margin-right: 40px;
    background-color: darkmagenta;
}

.services-item:last-child {
  margin-right: 0; /*на случай если придётся подгонять прям до края*/
}

.about-company {
    padding: 50px 80px;
    border-bottom: 3px orange solid;
    min-height: 400px;
}

.about-company-left {
    float: left;
    width: 600px;
    min-height: 300px;
    background-color: darkorchid;
}

.about-company-right {
    float: right;
    width: 360px;
    min-height: 410px;
    background-color: darkorchid;
}

.customers {
    min-height: 180px;
    padding: 30px 80px;
    border-bottom: 3px orange solid;
}
.customers a {
    float: left;
    width: 240px;
    margin-right: 22px;
    border-right: 1px orange solid;
}

.customers a:last-child {
    float: right;
    margin-right: 0;
    border-right: none;
}

.map {
    min-height: 416px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.map img {
    float:right;
    margin-right: 0;
}
.contacts {
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 150px;
    background-color: aliceblue;
}

.main-footer {
      margin-top: 65px;
      padding-top: 60px;
      padding-bottom: 40px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 90px;
}

.discount {
    float: left;
    width: 750px;
    min-height: 90px;
}
/*ДЛЯ СЕТКИ*/

/*Кнопки*/
.btn {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: darkred;
}

.btn:active {
    color: rgba(250, 255, 255, 0.3);
}

div, article, header, footer, section, a, p {
    outline: 1px solid indigo;
    background-color: rgba(0, 0, 50, 0.1);
}

.container {
    outline: 1px solid red;
    background-color: rgba(0, 50, 0, 0.2);
}